@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,200,400');
@import url('https://fonts.googleapis.com/css?family=Mina');

@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

html {
  background-color: #fefefe;
}

body {
  color: #454545;
  width: 600px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #454545;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.6;
  text-align: justify;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #000;
  transition: 0.4s;
}

